<h2>CSVアップロード</h2>

<%= form_tag import_path, multipart: true do %>
<div class="col-xs-4">
  <input id="csv_file" name="csv_file" type="file"><br>

  <div class="form-group">
    <%= submit_tag "　登　録　", :class => "btn btn-success" %>
  </div>
</divv>

<% end %>
